@import url("https://fonts.googleapis.com/css2?family=Jost:wght@300&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Koulen&family=Oswald:wght@200&family=Red+Hat+Display:wght@500;600;900&display=swap");

#Main__container {
  background-color: #f8edeb;
}
#Title {
  font-family: "Jost", sans-serif;
  font-weight: 800;
  padding: 0 26px 0 40px;
  margin: 0 0px 10px 9px;
}

#with-line {
  width: 100px;
  height: 15px;
  background-color: #c4c4c4;
  opacity: 0.22;
  top: 1px;
  border-radius: 50px;
}
#dot__Done {
  height: 90px;
  width: 90px;
  background-color: #fec5bb;
  border-radius: 50%;
  border: 5px;
}
#dot {
  height: 90px;
  width: 90px;
  background-color: white;
  border-radius: 50%;
}

#Bottom_Title {
  font-family: "Koulen", sans-serif;
}

#Button_Ok {
  background-color: #404040;
  color: white;
  font-family: "Koulen", sans-serif;
}
#bottom_Titles_Prices {
  font-family: "Koulen", sans-serif;
}

#proceed__Button {
  background-color: #404040;
  color: white;
  font-family: "Koulen", sans-serif;
}
#name__product{
  font-family: "Koulen", sans-serif;
}
